<div class="wrapper">
  <div *ngIf="!loggedIn" class="login-box">
    <h2 class="space">This is a demonstration of NanoAuth's OAuth login</h2>
    <a mat-raised-button class="mat-flat-button mat-primary" href="https://www.nanoauth.app/api/auth?client_id=foo&response_type=id_token&scope=openid&nonce=foobar">Log in with NanoAuth</a>
    <span class="space">Learn more at <a href="https://www.nanoauth.app">https://www.nanoauth.app</a></span>
  </div>
  <div *ngIf="loggedIn" class="login-box">
    <h2 class="space">{{welcomeMessage}} {{user}}</h2>
    <h3 *ngIf="address">NanoAuth says your account name is {{address}}</h3>
    <a mat-raised-button class="mat-flat-button mat-primary" (click)="onLogoutClick()">Log out</a>
    <span class="space">Learn more at <a href="https://www.nanoauth.app">https://www.nanoauth.app</a></span>
  </div>
</div>